<%- include('./header.ejs'); %>

<!-- Infrastructures Header -->
<div class="container-fluid p-0">
    <div class="infrastructures">
        <div class="web_banner">
            <img src="/static/src/images/banners/factory-banner.jpg" class="image-fluid banner_main_images" alt="AgaPlace">
        </div>
        <div class="infrastructures_header">
            <div class="infrastructures_title">
                <h2 class="infrastructures_header_title text-uppercase">Infrastructures </h2>
                <p>Design, R&D plays an important role and is one of the main impacts that identify the successful business. As evolution is a continuous process and change is always constant. Manufacturing Facility & Capabilities is the need of the hour. Quality has been the foundation of success at Aga Engineering and we strongly believe in keeping as per new technology. Cleaning, Plating & Drying is through different procedure. The assembly process with neat and presentable work. Testing and packing are differ for good quality and identification of products. R&D helps in offering customization of products as per client requirement adhering to international standards giving an edge over other manufacturer.</p>
            </div>
        </div>
    </div>
</div>


<!-- Infrastructures content -->
<!-- <div class="main_infrastructures_section">
    <div class="container-fluid main_industries_container">
        <div class="title_div">
            <div class="title">Infrastructures</div>
        </div>
        <div class="row main_industries_data_row">
            <div class="col-md-4 col-sm-6 col-12 main_industries_data_col my-3">
                <div class="main_industries_data_div">
                    <div class="industries_img_div infrastructure_image_div">
                        <img src="/static/assets/industry_images/DESIGN, RESEARCH & DEVELOPMENT\D1.jpg" alt="Design" class="img-fluid industries_main_image">
                    </div>
                    <div class="industries_content_div infrastructure_content_div">
                        <div class="industries_title_div">
                            <h1 class="title product_title">Design, Research & Development</h1>
                        </div>
                        <div class="industries_content">
                            <p class="product_desc">
                                With our long experience and expertise, we carefully study the applications...
                            </p>
                            <button class="read_more_btn" data-bs-toggle="offcanvas" data-bs-target="#infrastructure_details" data-infra="development">Read More <i class="fas fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12 main_industries_data_col my-3">
                <div class="main_industries_data_div">
                    <div class="industries_img_div infrastructure_image_div">
                        <div class="swiper industries_swiper_image_div">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="/static/assets/industry_images/MANUFACTURING FACILITY & CAPABILITY/MF1.jpg" alt="Manufacture" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/assets/industry_images/MANUFACTURING FACILITY & CAPABILITY/MF2.jpg" alt="Manufacture" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/assets/industry_images/MANUFACTURING FACILITY & CAPABILITY/MF3.jpg" alt="Manufacture" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/assets/industry_images/MANUFACTURING FACILITY & CAPABILITY/MF5.jpg" alt="Capability" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/assets/industry_images/MANUFACTURING FACILITY & CAPABILITY/MF6.jpg" alt="Capability" class="img-fluid industries_main_image"></div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="industries_content_div infrastructure_content_div">
                        <div class="industries_title_div">
                            <h1 class="title product_title">Manufacturing Facility & Capabilities</h1>
                        </div>
                        <div class="industries_content">
                            <p class="product_desc">
                                We manufacture each and every component of our products in our own manufacturing facilities...
                            </p>
                            <button class="read_more_btn" data-bs-toggle="offcanvas" data-bs-target="#infrastructure_details" data-infra="capability">Read More <i class="fas fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12 main_industries_data_col my-3">
                <div class="main_industries_data_div">
                <div class="industries_img_div infrastructure_image_div">
                        <div class="swiper industries_swiper_image_div">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="/static/assets/industry_images/QUALITY & INSPECTION/Q1.jpg" alt="quality" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/assets/industry_images/QUALITY & INSPECTION/Q2.jpg" alt="quality" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/assets/industry_images/QUALITY & INSPECTION/Q3.jpg" alt="quality" class="img-fluid industries_main_image"></div>
                             <div class="swiper-slide"><img src="/static/assets/industry_images/QUALITY & INSPECTION/Q4.jpg" alt="quality" class="img-fluid industries_main_image"></div>
                            <div class="swiper-slide"><img src="/static/assets/industry_images/QUALITY & INSPECTION/Q5.jpg" alt="quality" class="img-fluid industries_main_image"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="industries_content_div infrastructure_content_div">
                        <div class="industries_title_div">
                            <h1 class="title product_title">Quality</h1>
                        </div>
                        <div class="industries_content">
                            <p class="product_desc">
                                Our target is to provide zero defects products to client which is remarkable in industry...
                            </p>
                            <button class="read_more_btn" data-bs-toggle="offcanvas" data-bs-target="#infrastructure_details" data-infra="quality">Read More <i class="fas fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12 main_industries_data_col my-3">
                <div class="main_industries_data_div">
                    <div class="industries_img_div infrastructure_image_div">
                        <img src="/static/src/images/infrastructure/cleaning.jpg" alt="cleaning" class="img-fluid industries_main_image">
                    </div>
                    <div class="industries_content_div infrastructure_content_div">
                        <div class="industries_title_div">
                            <h1 class="title product_title">Cleaning, Plating & Drying</h1>
                        </div>
                        <div class="industries_content">
                            <p class="product_desc">
                                Each and every Product Components Are Cleaned and Drying through Different Procedure...
                            </p>
                            <button class="read_more_btn" data-bs-toggle="offcanvas" data-bs-target="#infrastructure_details" data-infra="cleaning">Read More <i class="fas fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12 main_industries_data_col my-3">
                <div class="main_industries_data_div">
                    <div class="industries_img_div infrastructure_image_div">
                        <div class="swiper industries_swiper_image_div">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/assembly.jpg" alt="assembly" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/assembly-2.jpg" alt="assembly" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/assembly-3.jpg" alt="assembly" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/assembly-4.jpg" alt="assembly" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/assembly-5.jpg" alt="assembly" class="img-fluid industries_main_image"></div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="industries_content_div infrastructure_content_div">
                        <div class="industries_title_div">
                            <h1 class="title product_title">Assembly</h1>
                        </div>
                        <div class="industries_content product_desc">
                            <p class="product_desc">
                                After All Procedure Components are Assembled in Neat And Clean Room with Suitable Instruments...
                            </p>
                            <button class="read_more_btn" data-bs-toggle="offcanvas" data-bs-target="#infrastructure_details" data-infra="assembly">Read More <i class="fas fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12 main_industries_data_col my-3">
                <div class="main_industries_data_div">
                    <div class="industries_img_div infrastructure_image_div">
                        <div class="swiper industries_swiper_image_div">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/testing.jpg" alt="testing" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/testing-1.jpg" alt="testing" class="img-fluid industries_main_image"></div>
                                <div class="swiper-slide"><img src="/static/src/images/infrastructure/testing-2.jpg" alt="testing" class="img-fluid industries_main_image"></div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="industries_content_div infrastructure_content_div">
                        <div class="industries_title_div">
                            <h1 class="title product_title">Testing</h1>
                        </div>
                        <div class="industries_content product_desc">
                            <p class="product_desc">
                                We Do testing Of Products to check, verify and confirm the guarantee of high quality...
                            </p>
                            <button class="read_more_btn" data-bs-toggle="offcanvas" data-bs-target="#infrastructure_details" data-infra="testing">Read More <i class="fas fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12 main_industries_data_col my-3">
                <div class="main_industries_data_div">
                    <div class="industries_img_div infrastructure_image_div">
                        <div class="swiper industries_swiper_image_div">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="/static/assets/industry_images/PACKING/P1.jpg" alt="packaging" class="img-fluid industries_main_image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/static/assets/industry_images/PACKING/P2.jpg" alt="packaging" class="img-fluid industries_main_image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/static/assets/industry_images/PACKING/P3.jpg" alt="packaging" class="img-fluid industries_main_image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/static/assets/industry_images/PACKING/P4.jpg" alt="packaging" class="img-fluid industries_main_image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/static/assets/industry_images/PACKING/P5.jpg" alt="packaging" class="img-fluid industries_main_image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/static/assets/industry_images/PACKING/P6.jpg" alt="packaging" class="img-fluid industries_main_image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/static/assets/industry_images/PACKING/P7.jpg" alt="packaging" class="img-fluid industries_main_image">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="industries_content_div infrastructure_content_div">
                        <div class="industries_title_div">
                            <h1 class="title product_title">Packaging</h1>
                        </div>
                        <div class="industries_content product_desc">
                            <p class="product_desc">
                                All threads of the products are protected with plastic caps to prevent damage...
                            </p>
                            <button class="read_more_btn" data-bs-toggle="offcanvas" data-bs-target="#infrastructure_details" data-infra="packaging">Read More <i class="fas fa-arrow-right ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="infrastructure_details" aria-labelledby="infrastructure_detailsLabel">
    <div class="offcanvas-header">
        <button type="button" class="text-reset btn_close_main_offcanvas" data-bs-dismiss="offcanvas"><i class="fas fa-arrow-left me-3"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="main_content_infra">
            <div class="img_infra row">
            </div>
            <h1 class="main_infra_title"></h1>
            <div class="main_infra_content"></div>
        </div>
    </div>
</div> -->

<%- include('./footer2.ejs'); %>
