<div class="container-fluid review-bacground" style="padding-left:0px;padding-right:0px;">
    <div class="container text-center" style="font-family:none;">
      <div class="row py-3 top-footer" >
        <div class="col-sm-4 text-center py-3" style="display:flex">
          <div class="p-3">
            <!-- <img src="assets/images/footer-website.png"> -->
            <img src="/static/assets/images/website.png">
          </div>
          <div class="text-center py-3" style="color:#753825;">
            <h4>Address</h4>
            <p>Mahavir Vihar, Shivaji nagar, govandi, U5, Mumbai, Maharashtra 400043</p>  
          </div>         
        </div>
        <div class="col-sm-4 text-center py-3 footer-phone">
          <div class="p-3">
            <!-- <img src="assets/images/footer-phone.png"> -->
            <img src="/static/assets/images/phone.png">
          </div>
          <div class="text-center py-3" style="color:#753825;">
            <h4>Phone</h4>
            <p>+91-767 803 0302 / +91-767 803 0302</p>  
          </div>     
        </div>
        <div class="col-sm-4 text-center py-3" style="display:flex">
          <div class="p-3">
            <!-- <img src="assets/images/footer-email.png"> -->
            <img src="/static/assets/images/email.png">
          </div>
          <div class="text-center py-3" style="color:#753825;">
            <h4>Email Contact</h4>
            <p>Mynextechnology@gmail.com</p>  
          </div>          
        </div>
      </div>
    </div>
    <div class="ptop-80">
      <div class="container-fluid footer-hero-img text-light" style="background-color:#000;padding-left:0px;padding-right:0px;top:100px;z-index:-1;">
      <div class="container-fluid pt-5">
        <div class="row py-5">
        <div class="col-sm-1"></div>
          <div class="col-sm-3 p-lg-5 p-small">
          
            <div class="px-3">
              <img class="pt-5 pb-3" src="/static/assets/images/logo-footer.png" style="width:150px">
            </div>
            <h4 class="pt-5 pb-3"><span class="pb-2" style="border-bottom:3px solid #c78366">About Us</span></h4>
            <p style="text-align:justify">Established in the year 2018 RAW matNfab is an ISO 9001: 2015 Certified company and one of the striking Manufacturer of Flanges, Fittings, Outlets, Fasteners, Lifting and Handling Equipment Including Manufacturing of precision CNC machined parts and assemblies for manufacturers in the aerospace, defense & military, food processing & pharmaceutical, heavy equipment, medical equipment, mining, oil & gas, power generation, transportation, and general industrial markets.</p>
          </div>
            
          <div class="col-sm-2 p-lg-5 p-small">
            <h4 class="pt-5 pb-3"><span class="pb-2" style="border-bottom:3px solid #c78366">Products</span></h4>
            
            <% about.map(category => {%> 
              <p style="font-size:18px;font-weight:lighter!important;" class="py-1"><a href="/category?id=<%= category.categoryId %>"><i class="fa-solid fa-caret-right px-1"></i> <%= category.categoryName %> </a></p>
             
           <%  })%>  
            
            
  
          </div>
          <div class="col-sm-2 p-lg-5 p-small">
          <h4 class="pt-5 pb-3"><span class="pb-2" style="border-bottom:3px solid #c78366">Quick Link</span></h4>
          <p style="font-size:18px;font-weight:lighter!important;" class="py-1"><a href="/"><i class="fa-solid fa-caret-right px-1"></i>Home </a></p>
          <p style="font-size:18px;font-weight:lighter!important;" class="py-1"><a href="/about"><i class="fa-solid fa-caret-right px-1"></i>About Us </a></p>
          <!-- <p style="font-size:18px;font-weight:lighter!important;" class="py-1"><a href=""><i class="fa-solid fa-caret-right px-1"></i>Service </a></p> -->
          <p style="font-size:18px;font-weight:lighter!important;" class="py-1"><a href="/career"><i class="fa-solid fa-caret-right px-1"></i>career</a></p>
          <p style="font-size:18px;font-weight:lighter!important;" class="py-1"><a href="/certificate"><i class="fa-solid fa-caret-right px-1"></i>Certificate</a></p>
          <p style="font-size:18px;font-weight:lighter!important;" class="py-1"><a href="/contactus"><i class="fa-solid fa-caret-right px-1"></i>Contact Us</a></p>
         
          </div>
          <div class="col-sm-4 p-lg-5 p-small">
            <h4 class="pt-5 pb-3"><span class="pb-2" style="border-bottom:2px solid #c78366">Subscribe NewsLetter</span></h4>
            <div class="w-100 py-3">
              <input class="p-3" placeholder="Enter your email address" type="email" name="email" id="email" style="border:none;width:60%;"><button class="p-3 text-light" type="submit" style="background-color:#c78366;border:none">Subscribe</button>
              <h4 class="pt-5 pb-4"><span class="pb-2" style="border-bottom:3px solid #c78366">Follow Us for more Information</span></h4>
              <div class="">
                      <i class="fa-brands fa-facebook-f"></i> &nbsp; &nbsp;
                      <i class="fa-brands fa-instagram"></i>  &nbsp; &nbsp;
                      <i class="fa-brands fa-twitter"></i>    &nbsp; &nbsp;
                      <i class="fa-brands fa-linkedin-in"></i>&nbsp; &nbsp;
  
              </div>
            </div>
            
          </div>
        </div>
  
      </div>
        
      </div>
  
  </div>
  
    </div>
  
    <!-- animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  
  <!-- swiper js -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
          const change = src => {
              document.getElementById('main').src = src
          }
      </script>
  
  <!-- Initialize Swiper -->
  <script>
        var swiper = new Swiper(".mySwiper", {
          pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
        var header = document.getElementById("navbarSupportedContent");
        var btns = header.getElementsByClassName("nav-link");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
          });
        }
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");
  
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more"; 
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less"; 
            moreText.style.display = "inline";
          }
        }
        var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  </script>
  <script>
  function openCity(evt, cityName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " w3-red";
  }
  </script>
  <script>
    
      $.fn.jQuerySimpleCounter = function( options ) {
          var settings = $.extend({
              start:  0,
              end:    100,
              easing: 'swing',
              duration: 400,
              complete: ''
          }, options );
  
          var thisElement = $(this);
  
          $({count: settings.start}).animate({count: settings.end}, {
              duration: settings.duration,
              easing: settings.easing,
              step: function() {
                  var mathCount = Math.ceil(this.count);
                  thisElement.text(mathCount);
              },
              complete: settings.complete
          });
      };
  
  
  $('#number1').jQuerySimpleCounter({end: 1223,duration: 2000});
  $('#number2').jQuerySimpleCounter({end: 55,duration: 3000});
  $('#number3').jQuerySimpleCounter({end: 359,duration: 2000});
  $('#number4').jQuerySimpleCounter({end: 246,duration: 2500});
  
  function isInViewport(el) {
      const rect = el.getBoundingClientRect();
      return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  
      );
  }
  
  
  const box = document.querySelector('.box');
  // const message = document.querySelector('#message');
  
  document.addEventListener('scroll', function () {
      if(isInViewport(box) ){
        $('#number1').jQuerySimpleCounter({end: 1223,duration: 2000});
        $('#number2').jQuerySimpleCounter({end: 91,duration: 2500});
        $('#number3').jQuerySimpleCounter({end: 23,duration: 3000});
       
  
  
      }else{
        
      }
         
  
      // message.textContent = messageText;
        
  
  }, {
      passive: true
  });
  
  
  
  
    
  </script>
  <script>
    const testemonialsContainer = document.querySelector('.testimonials-container')
  const testemonial = document.querySelector('.testimonial')
  const userImage = document.querySelector('.user-image')
  const userName = document.querySelector('.username')
  const role = document.querySelector('.role')
  
  const testimonials = [
      {
          name: "Miyah Myles",
          position: "Marketing",
          photo:
              "https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=707b9c33066bf8808c934c8ab394dff6",
          text: "I've worked with literally hundreds of HTML/CSS developers and I have to say the top spot goes to this guy. This guy is an amazing developer. He stresses on good, clean code and pays heed to the details. I love developers who respect each and every aspect of a throughly thought out design and do their best to put it in code. He goes over and beyond and transforms ART into PIXELS - without a glitch, every time.",
      },
      {
          name: "June Cha",
          position: "Software Engineer",
          photo: "https://randomuser.me/api/portraits/women/44.jpg",
          text: "This guy is an amazing frontend developer that delivered the task exactly how we need it, do your self a favor and hire him, you will not be disappointed by the work delivered. He will go the extra mile to make sure that you are happy with your project. I will surely work again with him!",
      },
      {
          name: "Iida Niskanen",
          position: "Data Entry",
          photo: "https://randomuser.me/api/portraits/women/68.jpg",
          text: "This guy is a hard worker. Communication was also very good with him and he was very responsive all the time, something not easy to find in many freelancers. We'll definitely repeat with him.",
      },
      {
          name: "Renee Sims",
          position: "Receptionist",
          photo: "https://randomuser.me/api/portraits/women/65.jpg",
          text: "This guy does everything he can to get the job done and done right. This is the second time I've hired him, and I'll hire him again in the future.",
      },
      {
          name: "Jonathan Nunfiez",
          position: "Graphic Designer",
          photo: "https://randomuser.me/api/portraits/men/43.jpg",
          text: "I had my concerns that due to a tight deadline this project can't be done. But this guy proved me wrong not only he delivered an outstanding work but he managed to deliver 1 day prior to the deadline. And when I asked for some revisions he made them in MINUTES. I'm looking forward to work with him again and I totally recommend him. Thanks again!",
      },
      {
          name: "Sasha Ho",
          position: "Accountant",
          photo:
              "https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb",
          text: "This guy is a top notch designer and front end developer. He communicates well, works fast and produces quality work. We have been lucky to work with him!",
      },
      {
          name: "Veeti Seppanen",
          position: "Director",
          photo: "https://randomuser.me/api/portraits/men/97.jpg",
          text: "This guy is a young and talented IT professional, proactive and responsible, with a strong work ethic. He is very strong in PSD2HTML conversions and HTML/CSS technology. He is a quick learner, eager to learn new technologies. He is focused and has the good dynamics to achieve due dates and outstanding results.",
      },
  ];
  
  let idx = 1;
  
  function updateTestimonial() {
    const { name, position, photo, text } = testimonials[idx]
  
    testemonial.innerHTML = text
    userImage.src = photo
    userName.innerHTML = name
    role.innerHTML = position
  
    idx++
  
    if (idx > testimonials.length - 1) {
      idx = 0
    }
  }
  
  setInterval(updateTestimonial, 9200)
  </script>
  <script>
    $(document).ready(function(){
    
    $(window).scroll(function(){
      if($(this).scrollTop() > $("#top-header").height())
      {
       
        $("#header").css("z-index","999");
        $("#topheader").css("padding","1rem");
    
      }
      if($(this).scrollTop() < $("#top-header").height()){
        $("#header").css("position","relative");
        $("#header").css("width","100%");
        
        $("#header").css("z-index","none");
        $("#header").css("top","none");
        
      }
      
      else
      {
        $("#header").css("position","fixed");
        $("#header").css("width","100%");
        $("#header").css("z-index","999");
        $("#header").css("top","0px");
      }
    });
  });
  // $(document).ready(function(){
    
  //   $(window).scroll(function(){
  
  //     if($(this).scrollTop() <= $("#productlist-container").height() - $("#top-header").height()){
  //       $("#side-productbar").css("position","fixed");
  //       $("#productlist-container").css("margin-left","27%");
        
  //       // $("#side-productbar").css("position","static");
  //       // $("#side-productbar").css("z-index","1");
        
        
  //     }
  //   })
      
  //   });
  // });
  </script>
  <script>
        var swiper = new Swiper(".relatedproduct", {
          slidesPerView: 3,
          spaceBetween: 40,
      loop: true,
      autoplay: {
          delay: 5000,
      },
      // Responsive breakpoints
      breakpoints: {
          // when window width is >= 320px
          320: {
              slidesPerView: 1,
              spaceBetween: 20
          },
          // when window width is >= 480px
          480: {
              slidesPerView: 1,
              spaceBetween: 30
          },
          // when window width is >= 640px
          640: {
              slidesPerView: 2,
              spaceBetween: 40
          },
          786: {
              slidesPerView: 3,
              spaceBetween: 40
          }
      }, pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
      },
  
        });
      </script>
      <script>
        var swiper = new Swiper(".productcategory", {
          slidesPerView: 2,
          spaceBetween: 10,
          freeMode: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
        });
      </script>
  <!-- bootstrap  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  
     
    </body>
  </html>