<%- include('./header.ejs'); %>
<div
	class="conatiner-fluid hero-industry"
	style="display: flex; justify-content: center; align-items: center"
>
	<div class="row py-5">
		<h1 class="text-center py-5 text-light">INDUSTRIES WE SERVE</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 py-5">
			<!-- <h2 class="p-4 text-center">INDUSTRIES WE SERVE</h2> -->
			<div class="row">
				<div
					class="col-sm-6"
					style="position: relative; font-family: Arial"
				>
					<div class="zoom2">
						<img
							src="/static/assets/images/oil & gas.png"
							style="height: 280px; width: 100%"
						/>
						<div class="text-block">
							<h4>Oil & Gas Industry</h4>
						</div>
					</div>
				</div>
				<div
					class="col-sm-3"
					style="position: relative; font-family: Arial"
				>
					<div class="zoom2">
						<img
							src="/static/assets/images/chemical-industry.jpg"
							style="height: 280px; width: 100%"
						/>
						<div class="text-block"><h4>Chemical Industry</h4></div>
					</div>
				</div>
				<div
					class="col-sm-3"
					style="position: relative; font-family: Arial"
				>
					<div class="zoom2">
						<img
							src="/static/assets/images/shipping-containers-seaport.jpg"
							style="height: 280px; width: 100%"
						/>
						<div class="text-block"><h4>Marine Industry</h4></div>
					</div>
				</div>
			</div>
			<div class="row py-3">
				<div
					class="col-sm-4"
					style="position: relative; font-family: Arial"
				>
					<div class="zoom2">
						<img
							src="/static/assets/images/power-industry.jpg"
							style="height: 280px; width: 100%"
						/>
						<div class="text-block">
							<h4>Energy & Power Industry</h4>
						</div>
					</div>
				</div>
				<div
					class="col-sm-4"
					style="position: relative; font-family: Arial"
				>
					<div class="zoom2">
						<img
							src="/static/assets/images/refinery.jpg"
							style="height: 280px; width: 100%"
						/>
						<div class="text-block"><h4>Refinery Industry</h4></div>
					</div>
				</div>
				<div
					class="col-sm-4"
					style="position: relative; font-family: Arial"
				>
					<div class="zoom2">
						<img
							src="/static/assets/images/boiler-industry.jpg"
							style="height: 280px; width: 100%"
						/>
						<div class="text-block"><h4>Boiler Industry</h4></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="background-color: #fff">
	<div class="row">
		<div class="col-sm-3 p-5 block-small">
			<img
				src="/static/assets/images/left-corner.jpg"
				class="img-fluid"
			/>
		</div>
		<div class="col-sm-5 py-5">
			<h2 class="pt-5 pb-3">Quality Assurance</h2>
			<p class="text-secondary text-justify">
				The primary goal of the 'Raw Matnfab' team is to continuously
				improve our customer-focused organizational structure. Ensure
				that all of our products meet and exceed the needs and
				expectations of our customers is something we take seriously.
				All of our employees are aware of the impact that their actions
				have on client satisfaction, and they are familiar with industry
				standards and procedures. We are constantly refining our
				manufacturing and order processing systems to ensure that they
				meet or exceed the most stringent international standards and
				regulations.
			</p>
			<div class="row py-3">
				<div class="col-sm-6">
					<div class="d-flex">
						<div class="py-3">
							<div
								class="text-center"
								style="
									border: 1px solid #753825;
									border-radius: 50%;
								"
							>
								<img
									class="p-2"
									src="/static/assets/images/profit.png"
								/>
							</div>
						</div>
						<div class="p-3">
							<h5>Utmost Satisfaction of client's expectation</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="d-flex">
						<div class="py-3">
							<div
								class="text-center"
								style="
									border: 1px solid #753825;
									border-radius: 50%;
								"
							>
								<img
									class="p-2"
									src="/static/assets/images/project-management.png"
								/>
							</div>
						</div>
						<div class="p-3">
							<h5>
								Fulfillments of defined quality objective
								targets
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="row p-small">
				<div class="col-sm-6">
					<div class="d-flex">
						<div class="py-3">
							<div
								class="text-center"
								style="
									border: 1px solid #753825;
									border-radius: 50%;
								"
							>
								<img
									class="p-2"
									src="/static/assets/images/profit.png"
								/>
							</div>
						</div>
						<div class="p-3">
							<h5>
								Innovative, Cost and time effective services
							</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="d-flex">
						<div class="py-3">
							<div
								class="text-center"
								style="
									border: 1px solid #753825;
									border-radius: 50%;
								"
							>
								<img
									class="p-2"
									src="/static/assets/images/profit.png"
								/>
							</div>
						</div>
						<div class="p-3">
							<h5>
								Consistent and Continuous quality improvement
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<img
				src="/static/assets/images/RAW matNfab ISO 9001-2005.jpg"
				class="img-fluid"
			/>
		</div>
	</div>
</div>
<div class="container-fluid" style="background-color: #fff">
	<div class="row">
		<div class="col-sm-4 p-5 block-small">
			<img
				src="/static/assets/images/left-corner.jpg"
				class="img-fluid"
			/>
		</div>
		<div class="col-sm-8 py-5 mt-3">
			<img
				src="/static/assets/images/Untitled design.png"
				class="img-fluid"
			/>
		</div>

		<!-- <div class="col-sm-3 p-5 block-small">
			<img
				src="/static/assets/images/left-corner.jpg"
				class="img-fluid"
			/>
		</div> -->
	</div>
</div>
<%- include('./footer2.ejs'); %>
